#ddblueblockmenu {
	border: 1px solid;
	border-bottom-width: 0;
	width: 200px;
}

#ddblueblockmenu ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font: normal 90% 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
	
}

#ddblueblockmenu li a{
	
	display: block;
	height:20px;
	padding: 3px 0;
	padding-left: 9px;
	width: 198px; /*185px minus all left/right paddings and margins*/
	text-decoration: none;
	color: #936C12;
	background-color: #EED9A8 ;  
	border-bottom: 1px solid #993300;
	border-left: 7px solid #D22929;
}



#ddblueblockmenu li a:hover {
	background-color:#D22929;
	border-left-color: #64d1;
	font-weight:bold;
	color:#FFFFFF;
	text-decoration:underline;
	border-bottom: 2px  solid #FFFFFF;
	border-top: 2px solid #FFFFFF;
}

#ddblueblockmenu div.menutitle{
	color: white;
	border-bottom: 1px solid black;
	padding: 1px 0;
	padding-left: 5px;
	background-color: #D22929;
	font: bold 90% 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
}
a:link {
	color: #936C12;
	  font-weight : bold;

}

a:visited {
  color: #936C12;
    text-decoration: underline;
	  font-weight : bold;
}

a:hover {
  color: #D22929;
	text-decoration: none;
}

